.navbar {
  background: $white;
  border-bottom: 1px solid #eee;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar__brand {
  font-size: 24px;
  font-family: $fs-title;
  letter-spacing: -0.05rem;
  color: $primary;
}

.navbar__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  flex-basis: 75%;
}

.navbar__search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: none;

  @media (min-width: 768px) {
    width: 85%;
  }
}

.navbar__search-input {
  padding: $spacing-2;
  background: $grey-lighter;
  margin-right: $spacing-1;
  width: 80%;
  font-size: $fs-body;
  color: $grey-darker;
}

.search-slide-enter,
.search-slide-leave-to {
  opacity: 0;
  transform: translateX(10vw);
}

.search-slide-enter-to,
.search-slide-leave {
  opacity: 1;
  transform: translateX(0%);
}

.search-slide-enter-active,
.search-slide-leave-active {
  transition: all 0.2s ease-out;
}

.navbar__search .lnr {
  cursor: pointer;

  &:hover {
    color: $secondary;
  }
}

.fixed-search {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(50, 50, 50, 0.6);

  input {
    position: absolute;
    width: 100%;
    height: 70px;
    padding: $spacing-2 $spacing-3;
    font-size: $fs-title;
    font-family: $ff-body;
    background: $white;
    bottom: 0;
  }
}

.navbar__collapse {
  position: absolute;
  right: 0;
  background: $white;
  width: 70vw;
  box-shadow: 0 4px 8px rgba(40, 40, 40, 0.2);
}

.navbar__collapse-link {
  color: $grey;

  &:hover {
    color: $secondary;
  }
}

.navbar-collapse-enter,
.navbar-collapse-leave-to {
  opacity: 0.3;
  transform: translateY(200%);
}

.navbar-collapse-enter-to,
.navbar-collapse-leave {
  opacity: 1;
  transform: translateY(0%);
}

.navbar-collapse-enter-active,
.navbar-collapse-leave-active {
  transition: all 0.1s;
}

.navbar__auth {
  display: none;
}

.navbar__user {
  color: $secondary;
}

.navbar__trigger {
  display: block;
  margin-left: $spacing-2;
  font-size: 22px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar__auth {
    display: block;
  }

  .navbar__auth-link {
    color: $grey;

    &:hover {
      color: $secondary;
    }
  }

  .navbar__trigger {
    display: none;
  }
}