.navbar {
  background: $white;
  border-bottom: 1px solid #eee;

  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar__brand {
  font-size: 24px;
  font-family: $fs-title;
  letter-spacing: -0.05rem;
  color: $primary;
}

.navbar__body {
  display: flex;
  align-items: center;
  min-height: 45px;
}

.navbar__search-input {
  padding: $spacing-2;
  background: $grey-lighter;
  margin-right: $spacing-1;
  width: 50vw;
  font-size: $fs-body;
  color: $grey-darker;
}

.navbar__search .lnr {
  cursor: pointer;
}

.fixed-search {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(190, 190, 190, 0.45);
  display: flex;
  align-items: flex-end;

  input {
    width: 100%;
    height: 50px;
    padding: $spacing-2 $spacing-3;
    font-size: $fs-body;
    background: $white;
  }
}

.navbar__auth,
.navbar__user {
  display: none;
}