.form-group {
  width: 100%;
  margin: $spacing-2 0;

  input {
    width: 100%;
    padding: $spacing-3 $spacing-2;
    font-size: $fs-medium;
    font-family: $ff-body;
    background: $grey-lighter;

    &::placeholder {
      color: $grey-dark;
    }
  }
}

.form-group__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: auto;
  padding: $spacing-1;
  font-size: $fs-small;
  color: $grey;

  &:hover,
  label:hover {
    cursor: pointer;
  }

  input {
    width: auto;
    margin-right: 5px;
  }
}