.container-fluid {
  padding: $spacing-2 $spacing-3;
}

.container {
  @extend .container-fluid;

  width: 100%;

  @media (min-width: 768px) {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.section {
  padding: $spacing-4 0;
}

.section__heading {
  font-size: $fs-heading;
  font-family: $ff-heading;
  color: $grey-darker;
  padding-bottom: $spacing-3;
  margin-bottom: $spacing-3;
  border-bottom: 4px solid rgba($grey-light, 0.5);
}