$spacing-1: 8px;
$spacing-2: 12px;
$spacing-3: 18px;

$white: #fff;

$primary: hsl(205, 98%, 45%);

$fs-body: 18px;
$fs-title: 24px;
$fs-heading: 26px;

$ff-body: 'Neue Plak', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
  Helvetica, Tahoma, Arial, sans-serif;
$ff-heading: 'Poppins', 'Trebuchet MS', serif;